<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codehub.academy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeHubAcademy">
        <activity android:name=".shared_preference.SharedPreferenceActivity"></activity>
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".cource6.Main6Activity" />
        <activity
            android:name=".course5.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.CodeHubAcademy.NoActionBar" />
        <activity android:name=".MainActivity3" />
        <activity
            android:name=".Demo"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.CodeHubAcademy.NoActionBar" />
        <activity android:name=".recyclerview.RecyclerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>